html, body {
	height: 100%;
}


body {
	margin: 0;
	background: linear-gradient(45deg, #49a09d, #5f2c82);
	font-family: sans-serif;
	font-weight: 100;
	align-items: center;
	justify-items: center
}

container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

h1 {
  text-align: center;
  font-size: 3em;
  color: #00284d;
  text-decoration: underline;
  margin-top: 1em;
  margin-bottom: 1em;
}

table {
	border-radius: 1%;
	margin: 0 auto;
	width: 80em;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}


th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: #fff;
}
.tr1 {
	background-color: #80b3ff;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
	border-collapse: collapse;
}


th {
	text-align: left;
}



.add {
	display:flex;
	justify-content: center;
	margin: 0 auto;
	background-color: #cce6ff;
	font-size: 2em;
	border-radius: 50%;
	width: 10em;
	height: 3em;
	color: #000000;
	margin-top: 2em;
	margin-left: 1rem;
	
}

.add-text{
	justify-content: center;
	
}

.form {
	font-size: 2em;
	color: #00284d;
}

.input1 {
	font-size: 1em;
	line-height: 1em * 2;
	margin-bottom: 1em * 2;
	border: none;
	border-bottom: 5px solid rgba(0,0,0,1);
	background: #f8f4e5;
	min-width: 250px;
	padding-left: 5px;
	outline: none;
	color: rgba(0,0,0,1);
		
}

.botao {
	font-size: 1em;
	margin: 0 auto;
	line-height: 1em * 2;
	margin-bottom: 1em * 2;
	border-bottom: 5px solid rgba(0,0,0,1);
	background: #f8f4e5;
	min-width: 250px;
	padding-left: 5px;
	outline: none;
	color: rgba(0,0,0,1);
}


#trHeader {
  text-decoration: underline;
  color: #900;
}

.centerCell {
  text-align: center;
}